*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/gen/
/apps/
/.idea
/node
/.gradle
/gradle
/node_modules
/nb-configuration.xml
/build
*.iml
.project
selenium-server-standalone-*.jar
/results/
gradlew*
local.properties
.DS_Store
/bin/
